.info {
    display: flex;
    flex-direction: column;
}

.logo-container {
    text-align: center;
    padding-top: 2%;
}

.form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.info-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1%;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 1%;
}

.continue-button {
    width: 100px;
    height: 30px;
    margin: auto;
    background: #40809C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.2s all;
    cursor: pointer;
}

.continue-button:active {
    box-shadow: none;
}