.info {
    display: flex;
    flex-direction: column;
}

.logo-container {
    text-align: center;
    padding-top: 2%;
}

.info-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1%;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    margin: 1%;
}

