.chart-table {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid rgb(175, 175, 175);
}

.chart-table th {
    padding: 1%;
    border: 1px solid rgb(175, 175, 175);
    color: #40809C;
    background: rgb(230, 230, 230);
}

.chart-table td {
    padding: 1%;
    border: 1px solid rgb(175, 175, 175);
    height: 7vh;
    background: rgba(255, 255, 255, 0.877);
}

td.negative {
    color: red;
}

td.positive {
    color: #45A848;
}

td.desc-column {
    background: rgb(230, 230, 230);
    color: #40809C;
}

.chart-table th:empty {
    visibility: hidden;
}